.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bar{
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.searchbar{
  width: 80%;
  font-size: 16px;
  float: right;
  padding-bottom: 10px;
}

.searchbtn{
  width: 10%;
}

